<?xml version="1.0"?>
<launch>
    
    <arg name="config_filename" default="$(find semantic_topic_tools)/config/demo_consistency_checker.yaml"/>
  
    <node pkg="semantic_topic_tools" type="consistency_checker" name="demo_consistency_checker" output="screen" >
        <param name="config_filename" type="str" value="$(arg config_filename)" />
    </node>
    
</launch>
